.header-template {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  background-color: #4267b2;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25px;
  z-index: 500;
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.headertemplate-right > p {
  margin: 10px;
}
.headertemplate-right-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}

.headertemplate-left-a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}
